@use "../../design/_CustomColors.scss" as *;

.portfolio-list {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.create-new-portfolio {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    &:hover {
        transform: translateY(-10px);
    }
    h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    p {
        font-size: 1rem;
        margin: 10px 0;
    }

    .create-new-portfolio-icon {
        width: 50px;
        height: 50px;
    }
}
