// These are all the colors acording to figma design system. In any SCSS file no hardcoded colors must be used instead they need to be imported from here

$colorOne: tomato;
$colorOneDark: rgb(201, 80, 59);
$colorTwo: rgb(54, 54, 54);
